/* npx tailwindcss -i ./src/tailwindcss/tailwindcss.css -o ./src/tailwindcss/tailwindcssOutput.css --watch */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&family=Josefin+Slab:wght@400;700&display=swap");
@import url("node_modules/hamburgers/dist/hamburgers.css");

@layer base {
  section {
    @apply text-teal-50 py-6 px-7 overflow-x-hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title text-text-50;
  }

  h3 {
    @apply text-end text-5xl mt-6 mb-10;
  }
  h4 {
    @apply text-end text-2xl text-secondary-400;
  }

  p,
  a,
  span,
  figcaption {
    @apply font-text text-xl text-text-50;
  }
}

@layer components {
  #primary-nav li > a {
    @apply relative after:bg-accent-main after:transition-all after:duration-200 after:ease-in
     after:absolute after:bottom-[-5px] after:left-0 after:w-full after:h-[2px] after:scale-x-0 after:origin-left
     hover:after:scale-x-100;
    &.active {
      @apply after:scale-x-100;
    }
  }
  #hero-section > svg > g > g {
    @apply h-full;
  }

  #about {
    & span {
      @apply text-accent-main font-bold;
    }
  }

  .container {
    @apply grid grid-cols-1 gap-y-4 md:grid-cols-2 md:gap-x-4 mt-6;

    .inner-container {
      @apply text-center border border-secondary-main rounded-lg p-5 shadow-background-700 shadow-inner;
      & span {
        @apply text-accent-main;
      }
      & a {
        @apply underline transition-all duration-100 ease-linear hover:text-text-500;
      }
      & img {
        width: 100%;
        &.skills {
          @apply max-w-[100px] mx-auto bg-background-50 rounded-xl p-2;
        }
        &.education {
          @apply w-16 bg-background-50 rounded-xl p-2;
        }
      }
      & figcaption {
        @apply font-bold text-2xl my-3;

        &.projects {
          @apply flex items-center justify-center gap-2;
        }
      }
    }
  }

  .icon {
    display: inline-block;
    width: 25px;
    aspect-ratio: 1/1;
    background: transparent no-repeat center/cover;

    &.github {
      background-image: url(../../public/Svg/github-mark/github-mark-white.svg);
    }
  }
}
